<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BASE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>
<body>
<nav>
    {% if user.is_authenticated %}
        You are logged in as {{ user.username }}
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</nav>
{% block content %}{% endblock %}
</body>
</html>